*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0px 10px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.bg-abs{
    position: absolute;
    top:0;
    right: 0;
    width: 45%;
    height: 400px;
    background-color: hsl(207, 33%, 95%);
    border-radius: 0px 0px 0px 50px;
}
#content{
    display: flex;
}
.content-img{
    width: 100%;
}
.content-img img{

}